<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://docs.opencv.org/3.4.0/opencv.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.35.2.min.js" charset="utf-8"></script>
    
    <script type="text/javascript" src="static/scripts/index.js"></script>
    <title>title</title>
</head>
<body>
    <div>
        <canvas id="outputCanvas"></canvas>
        <canvas id="keypointsCanvas" style="position:absolute; top:0; left:0;"></canvas>
    </div>
    <div id="histogramPlot" style="width:600px; height:400px;"></div>
    
</body>
</html>